<div class="col-md-9" id="tasks" >
    <accordion close-others="true">
        <accordion-group  heading={{task.name}}   ng-click="" ng-repeat="task in tasks | orderBy:'name':reverse">
            <table class="table">
                <tbody>
                <tr>
                    <th>Description</th>
                    <td>{{task.description}}</td>
                </tr>
                <tr>
                    <th>Maximum Points</th>
                    <td>{{task.maxPoints}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
    <button class="btn btn-primary" ng-click="createNewTask()">Add More Tasks</button>
</div>
<!--NEW TASK FORM-->
<div class="col-md-3" style="border: thin lightblue solid; border-radius: 5px;padding: 1em;margin-top: 20px" class="form-group" ng-show="showTaskForm">
    <form class="form-horizontal" >
        <fieldset>
            <legend>New Task - for {{currentPeriodName}}</legend>
            <label for="tname">Name: </label>
            <input type="text" ng-model="newTask.name" id="tname" placeholder="Name" class="form-control">

            <label for="desc">Description: </label>
            <input type="text" ng-model="newTask.description" id="desc" placeholder="Description" class="form-control">

            <label for="maxPoints">Maximum Points: </label>
            <input type="number" ng-model="newTask.maxPoints" id="maxPoints" placeholder="Maximum Points" class="form-control">


            </br>
            <button class="btn btn-primary" ng-click="addTaskForPeriod()">Add Task</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>

        </fieldset>
    </form>
</div>