<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<div class="dropdown dropdown-menu-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"  ng-click="getAllClasses()">
    <b>Your Classes</b>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"  ng-repeat="cls in classes| orderBy:'name':reverse"><a role="menuitem" tabindex="-1" href="" ng-click="getSemestersOfClass(cls)">{{cls.name}}</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="createNewClass()">Add more classes</a></li>
  </ul>

</div>
<div class="col-md-9" id="sems">
  <accordion close-others="true">
    <accordion-group heading={{semester.name}}   ng-click="getPeriodsOfSemester(semester)" ng-repeat="semester in semesters | orderBy:'name':reverse">
                <table class="table">
                  <thead>
                  <tr>
                    <td><b>Periods</b></td>
                  </tr>
                  </thead>
                  <tbody  ng-repeat="period in currentPeriods">
                  <tr>
                    <td>{{period.name}}</td><td><a href="#/view3/{{period._id}}">See tasks</a></td><td><a href="#/view3/students/{{period._id}}">See students</a></td>
                  </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td ng-click="createNewPeriod(semester)"><a href="">Add more periods</a></td><td></td><td></td>
                    </tr>
                  </tfoot>
                </table>
    </accordion-group>
  </accordion>
  <button class="btn btn-primary" ng-click="createNewSemester()" ng-show="clicked">Add More Semesters</button>
</div>

  <!--NEW SEMESTER FORM-->
<div class="col-md-3" style="border: thin lightblue solid; border-radius: 5px;padding: 1em;margin-top: 20px" class="form-group" ng-show="showSemForm">
  <form class="form-horizontal">
    <fieldset>
      <legend>New Semester - for class {{currentClassName}}</legend>
      <label for="sname">Name: </label>
      <input type="text" ng-model="newSem.name" id="sname" placeholder="Name" class="form-control">

      <label for="startingDate">Starting Date: </label>
      <input type="date" ng-model="newSem.startingDate" id="startingDate" class="form-control">

      <label for="endingDate">Ending Date: </label>
      <input type="date" ng-model="newSem.endingDate" id="endingDate" class="form-control">

      </br>
      <button class="btn btn-primary" ng-click="saveSemester()">Save Semester</button>
      <button class="btn btn-primary" ng-click="cancel()">Cancel</button>

    </fieldset>
  </form>
</div>

  <!--NEW PERIOD FORM-->
<div class="col-md-3" style="border: thin lightblue solid; border-radius: 5px;padding: 1em;margin-top: 20px" class="form-group" ng-show="showPerForm">
  <form class="form-horizontal" >
    <fieldset>
      <legend>New Period - for {{currentSemesterName}}</legend>
      <label for="pname">Name: </label>
      <input type="text" ng-model="newPer.name" id="pname" placeholder="Name" class="form-control">

      <label for="maxPoints">Maximum Points: </label>
      <input type="number" ng-model="newPer.maxPoints" id="maxPoints" placeholder="Maximum Points" class="form-control">

      <label for="reqPoints">Required Points: </label>
      <input type="number" ng-model="newPer.reqPoints" id="reqPoints" placeholder="Required Points" class="form-control">


      </br>
      <button class="btn btn-primary" ng-click="addPeriodForSemester()">Add Period</button>
      <button class="btn btn-primary" ng-click="cancel()">Cancel</button>

    </fieldset>
  </form>
</div>
  <!--NEW CLASS FORM-->
<div class="col-md-3" style="border: thin lightblue solid; border-radius: 5px;padding: 1em;margin-top: 20px" class="form-group" ng-show="showClsForm">
  <form class="form-horizontal" >
    <fieldset>
      <legend>New Class</legend>
      <label for="cname">Name: </label>
      <input type="text" ng-model="newCls.name" id="cname" placeholder="Name" class="form-control">

      </br>
      <button class="btn btn-primary" ng-click="saveClass()">Add Class</button>
      <button class="btn btn-primary" ng-click="cancel()">Cancel</button>

    </fieldset>
  </form>
</div>



