body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



#tasks{
  padding-top: 20px;
}


#sems{
  padding-top: 20px;
}

#stud{
  padding-top: 20px;
}

#upl{
  padding-top: 20px;
}

#points{
  padding-top: 20px;
}

#tb{
  padding-top: 20px;
}

a {
  color: #00B7FF;
}



