
<h1><image src="users/{{student._id}}/avatar.jpg" height="80" width="80"></image> {{student.fName}} {{student.lName}}</h1>
<div class="col-md-9" id="tb">
    <table class="table">
        <tbody>
        <tr>
            <th>Email</th><td>{{student.email}}</td>
        </tr>
        <tr>
            <th>Username</th><td>{{student.username}}</td>
        </tr>
        </tbody>
    </table>
    <accordion close-others="true">
        <accordion-group heading="{{sem.name}} | Achieved points: {{getPointsForSemester(sem).achievedPointsForSemester}} | Maximum points: {{sem.maxPoints}} | Required points: {{sem.reqPoints}}" ng-repeat="sem in semesters | orderBy:'name':reverse">
            <div  ng-repeat="period in sem.periods | orderBy:'name':reverse" ng-init="points = getPointsForPeriod(period)">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{period.name}}</th><td> You have {{ points.achievedPointsForPeriod }} points out of {{ points.maximumPointsForPeriod}}</td>
                    </tr>
                    </thead>
                    <tbody ng-repeat="task in period.tasks | orderBy:'name':reverse">
                    <tr>
                        <td>{{task.name}}</td><td>{{task.achievedPointsForTask}}/{{task.maxPoints}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </accordion-group>
    </accordion>
</div>

<!--UPLOAD IMAGE-->
<DIV class="col-md-3" id="upl">
    <form action="{{'/images/'+student._id}}" enctype="multipart/form-data" method="post">
        <input type="file" name="upload" multiple="multiple"><br>
        <input type="submit" value="Upload">
    </form>
</DIV>